* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: antiquewhite;
  /* margin: 0;
  padding: 0;
  box-sizing: border-box; */
}

body {
  background-image: url("/CuoiKhoa/src/image/Posting.png");
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container {
  display: flex;
  gap: 10px;
  margin-bottom: 1rem;
  overflow-x: auto;
  justify-content: center;
  flex-wrap: wrap;
  max-height: 120px;
}

.preview {
  position: relative;
  width: 120px;
  height: 80px;
  overflow: hidden;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.2);
}

.preview img,
.preview video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.2rem;
}

.upload {
  padding: 8px 16px;
  position: absolute;
  font-size: large;
  left: 90px;
  bottom: 245px;
  border-radius: 30px;
  background: transparent;
  backdrop-filter: invert(75%);
  border-width: 3px;
  cursor: pointer;
}

.upload:hover {
  background: rgba(255, 255, 255, 0.235);
}

.posting {
  display: block;
  resize: vertical;
  height: 180px;
  position: fixed;
  bottom: 25px;
  left: 80px;
  right: 80px;
  border-radius: 20px;
  border: 2px solid black;
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(20px);
  text-align: justify;
  padding: 10px 20px;
  font-size: 25px;
  border: 3px solid black;
  scroll-margin-right: 5px;
  resize: none;
  cursor: auto;
}

.posting::placeholder {
  color: rgba(250, 235, 215, 0.679);
}

.posting::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
  border-radius: 100px;
  margin-right: 20em;
}

.posting::-webkit-scrollbar-track {
  margin-block: 6px;
}

.posting::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.25);
  border-radius: 100px;
}

.posting::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}
